@page "/"

<PageTitle>Adaptor Pattern</PageTitle>

<h1>Adaptor Pattern Example</h1>

<MudText>This adaptor pattern program uses the <MudLink Href="https://www.fruityvice.com/">Fruity Vice Api</MudLink> to look up fruit.</MudText>
<MudText>If a fruit is found, the adaptor pattern converts the fruit to the model used in this system.</MudText>
